# Java & Scala
*.class
*.jar
*.war
*.ear

# Maven
target/

# SBT
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# JetBrains
.idea/
*.iml
*.ipr
*.iws

# Mac OS X
.DS_Store

# Other stuff
*.log
